<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Home Kirr {% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
	<style type="text/css">
		body{
			background-color: #29617d;
			background-image: url('http://lghttp.60358.nexcesscdn.net/8046264/images/page/-/100rc/img/cities/cities-nyc_optimized.jpg');
			background-size: cover;
		}

		.btn-link{
			color:#bfd7ec;
		}

		.btn-link:hover{
			color:#000000;
		}
	</style>
</head>
<body>

	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <!-- <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div> -->

          <div class="inner cover">
            <!-- <h1 class="cover-heading">Kirr Page</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p> -->
            {% block content %}
			{% endblock %}
          </div>

          <!-- <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div> -->

        </div>

      </div>

    </div>

	
</body>
</html>


